
    WASHINGTON, D.C. — The presidential campaign of U.S. Congresswoman Tulsi Gabbard is calling on the Democratic National Committee to revise their list of debate qualifying polls to ensure transparency and fairness in light of numerous irregularities in the selection and timing of those polls.
The DNC set a threshold that candidates must meet 2% in four DNC-certified polls in order to qualify for the third and fourth Democratic primary debates. However, the DNC has not released their criteria for selecting the sixteen polling organizations they deem "certified." 
Rep. Gabbard has exceeded 2% support in 26 national and early state polls, but only two of them are on the DNC's "certified" list. Many of the uncertified polls, including those conducted by highly reputable organizations such as The Economist and the Boston Globe, are ranked by Real Clear Politics and FiveThirtyEight as more accurate than some DNC "certified" polls. 
After examining the list of certified and non-certified polls, Michael Tracey wrote in Real Clear Politics, "Tulsi Gabbard is on the verge of being excluded from the next Democratic presidential debate on the basis of criteria that appear increasingly absurd." 
The Democratic National Committee has the responsibility to facilitate more conversations between the future leaders of this country, not less. Notably, there have been only four qualifying polls released after the second Democratic primary debate compared with fourteen qualifying polls released in the month after the first Democratic primary debate. 
Having received 2% in a qualifying CNN poll released Tuesday, August 20th, Gabbard is now two DNC-certified polls away from qualifying for the debates in Houston next month. According to Tracey, "Gabbard has [also] polled at 2% or more in two polls sponsored by the two largest newspapers in two early primary states, but the DNC — through its mysteriously incoherent selection process — has determined that these surveys do not count toward her debate eligibility. Without these exclusions, Gabbard would have already qualified." 
In a 2018 memo laying out their proposed framework for the debates, the DNC wrote, "Given the fluid nature of the presidential nominating process, the DNC will continuously assess the state of the race and make adjustments to this process as appropriate." 
The Gabbard campaign is calling on the DNC to hold true to their promise and make adjustments to the process now to ensure transparency and fairness. Crucial decisions on debate qualifications that impact the right of the American people to have the opportunity to participate fully in the Democratic process should not be made in secret by party bosses. For the sake of democracy, those decisions must be made openly with clear and consistent standards and a sufficient window of opportunity for candidates to demonstrate genuine grassroots momentum and enthusiasm. 
Additional Background
Timing of polls released after the first and second Democratic primary debates 
Only four of the DNC's list of sixteen qualifying polling organizations—Monmouth, Fox, Quinnipiac, and CNN/SRSS—have released a new poll since the second Democratic presidential debate in Detroit (July 30-31).
In the two weeks after the first Democratic primary debate in Miami, the period between June 28 and July 13, six DNC-certified polls were released. After the second debate in Detroit, when Rep. Gabbard had one of the strongest performances on the stage, only two certified polls were released in the two weeks following her break-out appearance. 
No major news source released a national poll in the two week period following the second debate, compared to five polls released by seven major news organizations after the first debate. For example, CNN released DNC-certified polls on a regular monthly basis since March until after the Detroit debate (which CNN co-hosted) when they inexplicably stopped releasing polls.
Following the first debate in Miami, fourteen of the DNC's qualified polling organizations released numbers, and four of these organizations released multiple polls. This contrasts starkly with the almost dormant activity of these same polling organizations following the second debate. 
The delayed release of polls so long after the debates is particularly harmful to candidates with lower name-recognition. Delayed poll releases are an advantage for high-name recognition candidates such as Vice President Joe Biden and Sens. Elizabeth Warren, Bernie Sanders and Kamala Harris.
DNC's polling criteria is unknown; disadvantages Rep. Gabbard
In addition, the campaign is concerned that the DNC has not made their criteria for poll selection known and, in some cases, the DNC is relying on inferior, less accurate polls.
As of August 20, Rep. Gabbard has qualified for two DNC-certified polls, but she has exceeded 2% support in twenty-four uncertified non-qualifying polls since June 28 (as reported by Real Clear Politics and FiveThirtyEight).
Rep. Gabbard's qualifying/non-qualifying polls above 2% since June 28
DNC-Qualifying Polls Over 2% Since June 28

New Hampshire (CBS/YouGov) 2% (July 2019)
National (CNN/SSRS) 2% (July 2019)

24 Non-Qualifying National & Early State Polls at 2% or Higher

National (Harvard/Harris) 2% (July 2019)
National (Emerson) 2% (July 2019)
National (Economist/YouGov) 2% (July 2019)
New Hampshire (Change Research/PollerCoaster) 2% (July 2019)
South Carolina (Change Research/PollerCoaster) 2% (July 2019)
New Hampshire (603/Change Research) 3% (July 2019)
National (ABC News/Washington Post) (July 2019) (*qualifying poll but "non-qualifying" question. received 2% in open-ended question)
National (The Economist/YouGov) 2% (July 24, 2019)
National (YouGov/PerryUdem) 2% (July 29)
National (ChangeResearch) 2% (July 29, 2019)
National (Echelon Insights) 2% (July 29, 2019)
National (The Economist/YouGov) 2% (July 31, 2019)
National (HarrisX) 3% (August 2, 2019)
National (HarrisX) 2% (July 30, 2019)
National (HarrisX) 2% (July 31, 2019)
New Hampshire (Suffolk University/Boston Globe) 3% (August 6, 2019)
National (The Economist/YouGov) 3% (August 7, 2019)
National (ChangeResearch) 2% (August 8, 2019)
New Hampshire (Gravis Marketing) 5% (August 13, 2019)
National (YouGov/The Economist) 2% (August 14, 2019)
Iowa (ChangeResearch) 2% (August 15, 2019)
South Carolina (ChangeResearch) 2% (August 15, 2019)
Nevada (Gravis Marketing) 2% (August 20, 2019)
National (The Economist/YouGov) 2% (August 21, 2019)

While conventional wisdom might assume DNC-certified polls are more accurate than non-qualifying polls, this is not always true. Many non-qualifying polls are more accurate than the DNC's preferred polls (Sources: American Research Group and FiveThirtyEight).
For example, Rep. Gabbard earned 3% support in Suffolk and Emerson polls (both rated B+). These polls are not approved by the DNC, but received higher accuracy ratings on FiveThirtyEight than some other DNC-approved polls, such as NPR (rated B-). In addition, Rep. Gabbard met the 2% threshold in the Politico/Morning Consult poll, which is non-qualifying and is rated the same as the DNC-"certified" NPR poll. The DNC also "certifies" a poll taken by SurveyMonkey, which received a "D-" accuracy rating, just because the pollster was commissioned by NBC, which is a DNC-approved sponsor.
Tulsi Gabbard's campaign is calling on the DNC to certify the Boston Globe/Suffolk University poll and the Economist/YouGov polls, which show that her support increased to 3%, as well as the Post and Courier poll, conducted by the highest-circulation newspaper in South Carolina. There is no justifiable reason for the DNC to exclude these polls or polls from other credible organizations.
Journalists with questions should reach out to press@tulsi2020.com and cullen@tulsi2020.com. 
Additional background and commentary from Michael Tracey
[See Link]
Tulsi Gabbard is on the verge of being excluded from the next Democratic presidential debate on the basis of criteria that appear increasingly absurd.

Take, for instance, her poll standing in New Hampshire, which currently places Gabbard at 3.3% support, according to the RealClearPolitics average as of Aug. 20. One might suspect that such a figure would merit inclusion in the upcoming debates -- especially considering she's ahead of several candidates who have already been granted entry, including Cory Booker, Amy Klobuchar, Beto O'Rourke, and Andrew Yang.
But a poll sponsored by the newspaper with the largest circulation in New Hampshire (the Globe recently surpassed the New Hampshire Union Leader there) does not count, per this cockamamie criteria.
A South Carolina poll published Aug. 14 by the Post and Courier placed Gabbard at 2%. One might have again vainly assumed that the newspaper with the largest circulation in a critical early primary state would be an "approved" sponsor per the dictates of the DNC, but it is not. Curious.
But Gabbard has polled at 2% or more in six additional YouGov polls -- except those polls are sponsored by The Economist, not CBS. Needless to say, The Economist is not a "sponsoring organization," per the whims of the DNC. It may be one of the most vaunted news organizations in the world, and YouGov may be a "qualified" polling firm in other contexts, but the DNC has chosen to exclude The Economist's results for reasons that appear less and less defensible.

  