
    Florida Congressman Steve Southerland today made the following statement on President Obama's dismantling of bipartisan welfare reforms:
"Thanks to President Obama's failed economic policies, incomes have fallen, economic growth has stagnated, and the 23 million Americans still struggling for work are running low on hope. The president's decision to start dismantling welfare-to-work requirements only adds further insult to injury for every American working harder and harder for less and less money. Mitt Romney, on the other hand, recognizes the dignity of work. He will forcefully support work requirements as part of our welfare laws — a component that enjoys broad bipartisan support — and he will focus on creating the good jobs our country needs."
  