
    Texas Senator Kay Bailey Hutchison today made the following statement on President Obama's dismantling of bipartisan welfare reforms:
"President Obama's push to eliminate welfare to work requirements goes against everything Republicans and Democrats—including President Bill Clinton—fought so hard for more than a dozen years ago. Barack Obama clearly wants to take our country back to a system of dependency on government handouts. That's the last thing our country needs right now, and I applaud Mitt Romney for his strong stance in support of these important work requirements."
  