
    I am withholding my approval of H.J. Res. 390, which waives the provisions of the United States Code requiring the printing by Congress of H.R. 1278, the Financial Institutions Reform, Recovery, and Enforcement Act of 1989. H.R. 1278 was presented to me in printed form and I have signed it into law.
Accordingly, H.J. Res. 390 is superfluous. Under these circumstances, it seems best for me to prevent H.J. Res. 390 from becoming a law by withholding my signature from it.
George BushThe White House,August 16, 1989.
  