
    Ohio Congressman Jim Jordan today made the following statement on President Obama's dismantling of bipartisan welfare reforms :
"The work requirements in the historic bipartisan welfare reforms passed in 1996 play a critical role in helping welfare recipients achieve independence and build a better future for themselves and for their children. In attempting to dismantle these requirements, President Obama is reinforcing a culture of dependency that goes against the very principles on which our nation was built. It's an affront not only to those working toward self-reliance, but also to the middle-class Americans who are working harder for less in the Obama economy. I'm pleased Mitt Romney took a strong stand against the Obama Administration's directive, and I join him in calling for the reversal of this misguided policy."
  