
    To the Congress of the United States:
The robust and effective sharing of terrorism information is vital to protecting Americans and the Homeland from terrorist attacks. To ensure that we succeed in this mission, my Administration is working to implement the Information Sharing Environment (ISE) called for by section 1016 of the Intelligence Reform and Terrorism Prevention Act of 2004 (IRTPA). The ISE is intended to enable the Federal Government and our State, local, tribal, and private sector partners to share appropriate information relating to terrorists, their threats, plans, networks, supporters, and capabilities while, at the same time, respecting the information privacy and other legal rights of all Americans.
Today, I issued a set of guidelines and requirements that represent a significant step in the establishment of the ISE. These guidelines and requirements, which are consistent with the provisions of section 1016(d) of IRTPA, are set forth in a memorandum to the heads of executive departments and agencies. The guidelines and requirements also address collateral issues that are essential to any meaningful progress on information sharing. In sum, these guidelines will:

clarify roles and authorities across executive departments and agencies;
implement common standards and architectures to further facilitate timely and effective information sharing;
improve the Federal Government's terrorism information sharing relationships with State, local, and tribal governments, the private sector, and foreign allies;
revamp antiquated classification and marking systems, as they relate to sensitive but unclassified information;
ensure that information privacy and other legal rights of Americans are protected in the development and implementation of the ISE; and
ensure that departments and agencies promote a culture of information sharing by assigning personnel and dedicating resources to terrorism information sharing.

The guidelines build on the strong commitment that my Administration and the Congress have already made to strengthening information sharing, as evidenced by Executive Orders 13311 of July 27, 2003, and 13388 of October 25, 2005, section 892 of the Homeland Security Act of 2002, the USA PATRIOT Act, and sections 1011 and 1016 of the IRTPA. While much work has been done by executive departments and agencies, more is required to fully develop and implement the ISE.
To lead this national effort, I designated the Program Manager (PM) responsible for information sharing across the Federal Government, and directed that the PM and his office be part of the Office of the Director of National Intelligence (DNI), and that the DNI exercise authority, direction, and control over the PM and ensure that the PM carries out his responsibilities under section 1016 of IRTPA. I fully support the efforts of the PM and the Information Sharing Council to transform our current capabilities into the desired ISE, and I have directed all heads of executive departments and agencies to support the PM and the DNI to meet our stated objectives.
Creating the ISE is a difficult and complex task that will require a sustained effort and strong partnership with the Congress. I know that you share my commitment to achieve the goal of providing decision makers and the men and women on the front lines in the War on Terror with the best possible information to protect our Nation. I appreciate your support to date and look forward to working with you in the months ahead on this critical initiative.
GEORGE W. BUSH
The White House,
December 16, 2005.
  