
    Dear Mr. Chairman:
I am transmitting herewith the report on Polar Icebreaker Requirements, requested in section 23 of the Coast Guard Authorization Act of 1988 (Public Law 100 - 448) and in report language accompanying the 1990 Department of Defense Appropriations Act (Public Law 101 - 165).
This report was the result of a collaborative effort by the Departments of Transportation and Defense, the National Science Foundation, and the Office of Management and Budget.
The report concludes that the Coast Guard, which presently has two polar icebreakers, needs one additional polar icebreaker. Funds for this additional icebreaker were included in the 1990 Defense Appropriations Act.
Sincerely,
George Bush
  