
    Presidential Determination No. 91-21
Memorandum for the Secretary of State
Pursuant to the authority vested in me by section 633(a) of the Foreign Assistance Act of 1961, as amended (the "Act"), 22 U.S.C. 2393(a), I hereby determine it to be in furtherance of the purposes of the Act that the functions authorized by the Act be performed without regard to section 1405 of the National Defense Authorization Act for Fiscal Year 1991 (Public Law 101-510), and amendments contained therein.
This determination shall apply only to funds appropriated to carry out the provisions of the Act that were appropriated for fiscal year 1984 and for prior fiscal years, and shall suspend the application of the provisions of section 1405 of the National Defense Authorization Act for Fiscal Year 1991, and amendments contained therein, through September 30, 1992.
You are authorized and directed to publish this determination in the Federal Register.
GEORGE BUSH
THE WHITE HOUSE,
Washington, February 27, 1991.
  