
    
  Gov. Perry Names Sheriff Joe Arpaio Arizona Statewide Chairman

AUSTIN — The Perry campaign has filed the requirements necessary to be listed on the GOP primary election ballots in Arizona, Illinois, Ohio, Vermont and Washington, D.C.
"As my campaign for president moves forward, our superior organization and resources allow me to compete nationwide, where I'm confident our unmatched jobs record, conservative fiscal and social policies, and status as the only Washington outsider can win over Republican voters," said Gov. Perry.
Gov. Perry named Sheriff Joe Arpaio as his Arizona statewide chairman and appointed a delegate in each Ohio congressional district, which meets the requirements to be on the ballot in those states. Additionally, the campaign filed names of the required 16 alternates and 16 delegates to make the ballot in Washington, D.C.
In states where signatures are necessary to be listed on the ballot, the Perry campaign filed well over the amount required, submitting more than 4,500 signatures in Illinois, which requires 3,000 signatures, and nearly 1,400 signatures in Vermont, where 1,000 are required.
  