
    Memorandum for the Secretary of Health and Human Services 
Subject: Work Requirements Initiative
I hereby direct you, in order to move people from welfare to work, to exercise your legal authority to propose a regulation that would require all welfare participants in the Job Opportunities and Basic Skills Training (JOBS) program to sign a personal responsibility plan for working within 2 years. After 2 years, any such JOBS participant who refuses to work, even though a job is available, will be sanctioned by loss of her AFDC benefits.
Welfare reform is first and foremost about work. People who are able to work should be expected to go to work. This proposed regulation will dramatically change expectations for welfare recipients and welfare agencies, ensuring that finding work quickly becomes their primary goal.
WILLIAM J. CLINTON
  