
    The Vice President and I applaud the House and Senate for the broad, bipartisan approval of legislation to establish reporting and disclosure requirements for section 527 organizations, the so-called stealth PAC's. I commend the sponsors from both sides of the aisle and from both Chambers of Congress—including, Senators McCain, Lieberman, and Feingold and Representatives Doggett, Moore, Castle, and Houghton—for their leadership in addressing backdoor spending by these outside organizations.
Passage of this bill proves that public interest can triumph over special interests, and I look forward to signing it as a first step toward meaningful campaign finance reform. There is still time this year to enact more comprehensive reform, and I renew my call to Congress for immediate action on the Shays-Meehan bill in the House and the McCain-Feingold bill in the Senate to restore the public's faith in the integrity of our election system.
  