
    Memorandum for the Secretary of State
Subject: Determination Under Subsection 402(d)(5) of the Trade Act of 1974 -- Continuation of the Waiver Applicable to the Czech and Slovak Federal Republic
Pursuant to the authority vested in me under the Trade Act of 1974 (Public Law 93 - 618) ("the Act"), I determine that the continuation of the waiver applicable to the Czech and Slovak Federal Republic will substantially promote the objectives of Section 402 of the Act, 19 U.S.C. 2432.
You are authorized and directed to publish this determination in the Federal Register.
George Bush
  