
    Dear Mr. Speaker: (Dear Mr. President:)
I hereby transmit my determination that continuation of the waiver applicable to the Czech and Slovak Federal Republic will substantially promote the objectives of Section 402 of the Trade Act of 1974. The attached documents, referred to in Section 402(d)(5) of the Trade Act of 1974, include my reasons for my determination that continuation of the waiver in effect for the Czech and Slovak Federal Republic will substantially promote the objectives of Section 402.
Sincerely,
George Bush
Pursuant to section 402 of the Trade Act of 1974, I have today determined that continuation of the waiver currently applicable to the Czech and Slovak Federal Republic will substantially promote the objectives of section 402 of the Act. My determination is attached and incorporated herein.
The Czechoslovak Government has already instituted reforms ensuring freedom of emigration for all of its citizens. The reform government of Vaclav Havel has implemented sweeping liberal emigration policies, eliminating virtually all the emigration restrictions of the previous communist regime. Under the new travel regulations issued by the Government of the Czech and Slovak Federal Republic on January 1, 1990, potential emigrants need only a valid passport and a foreign immigrant visa. Passports are now issued routinely and are valid for travel to all countries. Citizens no longer need exit visas to travel. All pending bilateral family reunification cases have been resolved.
Further, since I waived application of the Jackson-Vanik amendment on February 20, 1990, new laws have been passed guaranteeing freedom of religion, freedom of speech, freedom of association, and freedom of the press. Czechoslovakia's ethnic groups have agreed that interethnic disputes should be resolved by constitutional means.
  