
    Today I approve H.J. Res. 446, which waives the printing requirements of sections 106 and 107 of Title 1 of the United States Code with respect to H.R. 4210. I do so to avoid any confusion as to my ability to act on any form of that legislation presented to me after certification by the Committee on House Administration of the House of Representatives that the form is a true enrollment. In signing the resolution, I express no view as to whether it is necessary to waive the provisions of Title 1 before I exercise my prerogatives under Article I, section 7 of the Constitution where the Congress has presented to me any form of bill it considers to be a true enrollment.
George Bush
The White House,
March 20, 1992.
  