
    Memorandum for the Secretary of State, the Secretary of Defense, and the Director of the Office of Management and Budget
Subject: Certain Programs to Build the Capacity of Foreign Military Forces and Related Reporting Requirements
Pursuant to the authority vested in me by the Constitution and laws of the United States, including section 301 of title 3, United States Code and section 1206 of the National Defense Authorization Act for Fiscal Year 2006 (Public Law 109-163), I direct the Secretary of Defense to conduct or support, within available appropriations, programs that comply with section 1206 for the following countries: Algeria, the Bahamas, Cameroon, Chad, Dominican Republic, Equatorial Guinea, Gabon, Indonesia, Jamaica, Lebanon, Morocco, Nigeria, Pakistan, Panama, Sao Tome and Principe, Senegal, Sri Lanka, Thailand, Tunisia, and Yemen.
The function of the President under subsection (f) of section 1206 is assigned to the Secretary of State. In performing such function, the Secretary of State should consult with the Secretary of Defense and the Director of the Office of Management and Budget.
The Secretary of State is authorized and directed to transmit, on my behalf, a copy of this memorandum to the Congress and to publish it in the Federal Register.
George W. Bush
  