
    STATEMENT OF ADMINISTRATION POLICY
(Senate)(Sen. Thune, R-SD, and 26 cosponsors)
Protecting vulnerable children across the country from COVID-19 remains a top priority for the Administration. Therefore, the Administration strongly opposes Senate Joint Resolution 39, which would expose children, families, and early learning professionals to unnecessary risk.
The Administration's requirements for vaccination and masking at Head Start programs protect the health of children, their families, and staff. Giving parents and caregivers additional confidence regarding the safety of their children in these programs is a critical responsibility of the Department of Health and Human Services and key to combatting the pandemic and reconnecting families to needed services. It is especially important to provide these added layers of protection for children, many of whom are under age 5 and do not currently have access to COVID-19 vaccines. In addition, it offers critical protection for infants under age 2 in Early Head Start programs who are unable to wear a mask or be vaccinated. Surrounding children with fully vaccinated adults helps ensure they can continue to enjoy the educational and health benefits of a safe learning environment with fewer interruptions.
Vaccination requirements save lives. Vaccines are proven to reduce the risk of severe disease and death from COVID-19. Masks have also been found to be an effective barrier in preventing the spread of COVID-19 and critical to a robust layered mitigation strategy. The virus continues to pose a risk to staff and the children in their care and their families. When early learning professionals are unable to work because of illness or exposure to COVID-19, children and families suffer from limited access to safe care and education.
The Nation has made significant progress in combatting the pandemic. It makes no sense for Congress to reverse this much-needed protection for children and early education professionals.
If Congress were to pass this resolution, the President would veto it.
  