
    A new survey released today by Small Business for America's Future shows widespread support among small businesses for encouraging vaccinations, including with workforce requirements, and for the investments in infrastructure and caregiving in the President's Build Back Better Framework and Bipartisan Infrastructure Deal.
Among the findings of the national survey of small business owners:

"81% support the Bipartisan Infrastructure Bill and 66% say the legislation will help small business."
"91% support increasing investment in affordable care for aging people and people with disabilities"
"87% support ensuring living wages for care workers"
"85% support guaranteeing affordable childcare for working parents"
"65% support the Biden Administration's executive order requiring federal government employees, healthcare workers, and businesses with 100 or more employees to mandate vaccines or weekly testing for their employees"
"67% of small business owners agree that requiring companies with 100 or more employees to have all their employees vaccinated against COVID-19, or be tested weekly will help get more Americans back to work"

This support for the President's agenda from small business owners reflects overwhelming support among the American public.
Read the press release from Small Business for America's Future here, and the full survey results here.
  