
    
5% in CNN poll released today
First qualifying poll for December debate
Yang exceeding expectations

Andrew Yang received 5% support – tied for fifth place – in a CNN New Hampshire Primary Poll. The live phone poll of likely voters was conducted between October 21 and October 27.
Yang has already received the required donor support to qualify for the December debate, and this poll gives him the first of four needed to receive an invitation from the DNC. The rules only require 4% in order to count towards qualification, and Yang exceeded that requirement in this poll.
New Hampshire voters considered Yang to be the third most progressive candidate in the race. His favorability rating has more than doubled since June. With more than half of voters still undecided, the Yang campaign is confident that this favorability growth will translate to increase support as the field narrows and people are drawn to Andrew's Humanity First message.
"This campaign is gaining support every day. Voters are hungry for 21st century solutions to the problems facing America today," said Zach Graumann, Campaign Manager. "We will continue to exceed expectations and build a wave that will bring Andrew and his bold platform to the White House."
  