
    Today, the Senate passed the Additional Supplemental Appropriations for Disaster Relief Requirements Act of 2017, which included the President's funding request to provide critical relief from the recent natural disasters that have impacted millions of Americans across our country. The President remains steadfast in his commitment to providing the resources necessary to recover from the hurricanes and wildfires. This funding will help the millions of Americans living in Texas, Florida, Puerto Rico, the U.S. Virgin Islands, and other affected areas rebuild their lives. Further, as previously stated, the Administration urges Congress to adopt reforms to the National Flood Insurance Program to ensure the program's long-term financial viability and looks forward to working with Congress to achieve that goal.
  