
    I have signed into law H.J. Res. 560, which waives the printing requirements of sections 106 and 107 of title 1 of the United States Code with respect to subsequently presented appropriations bills during the 102nd Congress. I do so to avoid any confusion as to my ability to act on any form of appropriations legislation presented to me after certification by the Committee on House Administration of the House of Representatives that the form is a true enrollment. In signing the joint resolution, I express no view on whether it is necessary to waive the provisions of title 1 before I exercise my prerogatives under Article I, Section 7 of the Constitution.
George Bush
The White House,
October 6, 1992.
  