
    No one can compete with American workers when they're given a fair and level playing field, which has not happened for decades. --President Donald J. Trump
PROTECTING AMERICAN WORKERS: President Donald J. Trump and his Administration are protecting American workers by reforming requirements governing the H-1B visa program.

Today, the Trump Administration announced two Interim Final Rules to dramatically improve the H-1B work visa program.
The Department of Homeland Security (DHS) is tightening standards to require that foreign workers show specialized merit to establish their eligibility.
DHS is also taking action to rein in "shadow," third-party employers who use the H-1B program to displace American workers and to reduce the validity period for H-1Bs used by these "shadow" employers, which will ensure more frequent vetting for compliance with H-1B program requirements.
DHS is codifying existing authorities to conduct workforce inspections and clarifying that failure to fully cooperate with inspections may result in the denial or revocation of employer H-1B petitions.
The Department of Labor is publishing a rule to appropriately identify the wage levels for H-1Bs and other foreign labor programs, which will improve the quality of H-1B workers and better reflect wages paid to similarly employed workers in the United States.

The rule will limit an employer's ability to replace workers with cheap foreign labor and help ensure wages are not suppressed by the presence of low-cost foreign workers.



PUTTING AMERICAN WORKERS FIRST: President Trump is committed to making sure American workers are not disadvantaged by foreign labor.

President Trump is improving America's work visa programs to prioritize the highest-skilled workers and protect American jobs and wages.
President Trump knows that H-1B visas should only be reserved for specialized talent that helps support a strong economy.

For too long, this program has been misused as an inexpensive labor program, replacing American jobs in the process.
These critical reforms will improve the quality of the H-1B program without changing the annual statutory cap for H-1B visas.


The Trump Administration is closing loopholes that have allowed employers in the United States to replace American workers with low-cost foreign labor.

TAKING COMMONSENSE ACTION: President Trump continues to stand up for our Nation's workers by taking action to preserve jobs for American citizens.

Earlier this year, President Trump signed an Executive Order to prevent Federal dollars from being used to displace Americans with foreign workers or offshore labor.
To aid our Nation's recovery from the coronavirus pandemic, the President placed a temporary pause on multiple categories of aliens from coming into the country for work.
The Trump Administration issued regulations that will, once in effect, remove the incentive to apply for asylum for the purpose of obtaining authorization to work in the United States.
President Trump has worked tirelessly to reshore American supply chains, bring investments home from overseas, and implement policies that promote buying and hiring American.

  