
    STATEMENT OF ADMINISTRATION POLICY
(House)
(McCollum (R) Florida and 7 cosponsors)
The Administration supports House passage of H.R. 2464, which would exempt certain immigrant children ages 10 or under who are being adopted (or have been adopted) by U.S. citizens from the requirement to receive certain vaccinations before entering the United States. The exemption would be contingent upon the adopting parents signing an affidavit that a child will receive the required vaccinations after entering the United States.
The Administration maintains a strong commitment and record promoting adoption and supporting measures to ease the foreign adoption process. In this context the Administration supports this exemption.
H.R. 2464 would exempt from the vaccination requirement the 12,000 children who are expected to immigrate as "immediate relative immigrant orphans." However, an additional 28,000 children who are expected to immigrate as non-orphan children of American citizens and approximately 50,000 children who will immigrate in other categories or as dependents of their immigrant parents will remain subject to the vaccination requirements. The Administration will continue to work with Congress to address the concerns related to the vaccination requirement and the immigrant children who are not covered by the exemption in H.R. 2464.
  