
    I am very pleased that Secretary of Agriculture Ed Madigan will depart this afternoon for Moscow as head of a Presidential Mission to assess the food situation in the Soviet Union. Secretary Madigan will lead a delegation of senior private sector officials and Government experts to Moscow, St. Petersburg, and Kiev over the next 9 days. I have just met with this distinguished group and have every confidence they will be a credit to the United States on this important mission. Their expertise in U.S. agriculture, the world's most productive and efficient, covers the spectrum from on-farm production to consumer retailing.
Their mandate is twofold. First, Secretary Madigan and his team will work intensively with Union and Republic leaders to develop ways by which the U.S. and its allies can help institute needed improvements in the country's systems of transportation, distribution, storage, and marketing of agricultural goods. This follows the excellent preparatory work done by Under Secretary Richard Crowder's expert mission last month. The ultimate answer, of course, is for the Union and Republics to effect a rapid transition to a free market economy. Second, they will work closely with Union and Republic leaders to identify likely food shortage areas in that vast country this winter and will discuss with them ways U.S. farmers can help reduce their needs.
In the meantime, I have decided to take another step to insure that the U.S. does everything possible to help with the food situation. The administration will therefore make available today $585 million in credit guarantees for private sales of U.S. agricultural commodities to the U.S.S.R. This makes immediately available all remaining credit guarantees originally scheduled to be offered through February 1992. This action will put more American grain and other food into the pipeline now so that it will arrive at its destination in time to be of assistance during the hard winter facing the Soviet people. So far this calendar year, U.S. agricultural export credit guarantees will total $2.5 billion for the Soviet Union. The millions of tons of grain and other agricultural products shipped under these credit guarantees have kept American farm exports moving while making possible badly needed food imports into the Soviet Union.
These are exciting days, and we are at an historic juncture in U.S.-Soviet relations. I am proud that America's agricultural abundance and expertise can play a crucial role in supporting the leaders, President Gorbachev, President Yeltsin, President Nazarbayev and Chairman Kravchuk, and others who are transforming their country and its relations with the rest of the world. We are with them, and working with them we strive to remake U.S.-Soviet relations for a brighter and more peaceful future.
  