
    Mitt Romney made the following statement on today's House of Representatives vote to uphold work requirements as part of welfare:  
"I commend the House of Representatives for voting to block an Obama Administration rule that would have for the first time permitted waivers of the work requirement at the heart of the bipartisan 1996 welfare reform. The House's action follows the confirmation of the nonpartisan Government Accountability Office that the Obama Administration's action was unprecedented since the passage of welfare reform. As many of the original proponents of welfare reform have made clear, the Obama Administration's actions were not in keeping with the spirit or the letter of the law. President Obama opposed the 1996 welfare reforms, and it is no surprise that his administration is trying to dilute them now. When it comes to strengthening the middle class and enabling upward mobility, President Obama's policies have failed. As president, I will keep the work requirements in welfare and get our economy growing again, creating good jobs, higher take-home pay, and more opportunity for all Americans."
  