
    By virtue of and pursuant to the authority vested in me by paragraph Eighth, subdivision SECOND, section 2 of the Civil Service Act (22 Stat. 403, 404), it is hereby ordered that Miss Charlotta Gallap may be transferred from her present position under the Tennessee VaHey Authority to a classified position in the Federal Communications Commission, as private secretary to the Chairman of that Commission, at a salary of $2,900 per annum, without regard to the requirements of the Civil Service Rules.
FRANKLIN D. ROOSEVELT
The White House,September 7, 1939.
  