
    Today I have signed into law House Joint Resolution 197, which waives the printing requirements of sections 106 and 107 of Title 1 of the United States Code with respect to any appropriations measure of the 104th Congress that is presented to me after the enactment of H.J. Res. 197. I have done so to avoid any confusion as to my ability to act on any form of legislation presented to me after certification by the Committee on House Oversight of the House of Representatives that the form is a true enrollment.
In signing this joint resolution, I express no view as to whether it is necessary to waive the provisions of Title 1 before I exercise my prerogatives under Article I, section 7 of the Constitution where the Congress has presented to me any form of bill or resolution it considers to be a true enrollment.
WILLIAM J. CLINTON
The White House, September 30, 1996.
  