
    STATEMENT OF ADMINISTRATION POLICY
(House)(Bonker (D) Washington and 6 others)
If H.R. 4550 were presented to the President in its present form, the Attorney General, the Director of the Office of Management and Budget, and the Secretary of Commerce would recommend that it be vetoed.
The Administration opposes H.R. 4550, because: (1) by precluding Presidential supervision of the Commerce Department's development of census-related materials, it would impermissibly interfere with the President's constitutional obligation and right to review and supervise his Executive branch subordinates, thereby violating the separation of powers doctrine; and (2) it would upset the careful balancing between the need for essential data and the reporting burden imposed on the public that is reflected in the Administration's currently-proposed questionnaires.
  