
    PURSUANT to the authority vested in him by the Constitution and Section 3301 of Title 5 and Section 301 of Title 3 of the United States Code, the President authorized the United States Civil Service Commission to establish standards with respect to citizenship for employment in the competitive service (Executive Order No. 10577, as amended, 5 CFR Part 2). Thereafter, the Commission prohibited generally the appointment of aliens to positions in the competitive service (5 CFR 338.101).
The Supreme Court of the United States has recently held that the Civil Service Commission's general prohibition against the employment of aliens is violative of the due process clause of the Fifth Amendment to the Constitution (Hampton v. Mow Sun Wong, No. 73-1596, June 1, 1976).
In its decision, the Court stated that either the Congress or the President might issue a broad prohibition against the employment of aliens in the civil service, but held that neither the Congress nor the President had mandated the general prohibition contained in the regulations of the Commission.
I have concluded that it is in the national interest to preserve the long-standing policy of generally prohibiting the employment of aliens from positions in the competitive service, except where the efficiency of the service or the national interest dictate otherwise in specific cases or circumstances. It is also my judgment that it would be detrimental to the efficiency of the civil service, as well as contrary to the national interest, precipitously to employ aliens in the competitive service without an appropriate determination that it is in the national interest to do so. Therefore, I am issuing an Executive order [11935] which generally prohibits the employment of aliens in the competitive service.
The rights of citizens and aliens are affected by existing statutes which often discriminate between citizens and categories of aliens with respect to various rights, duties, and benefits. Those statutes pertaining to the Federal employment of aliens further discriminate as to specific jobs, agencies, or the nationality of aliens. I am also aware that many members of the Congress have recently sponsored legislation which would categorically prohibit the Federal employment of aliens, a broader prohibition than the various existing statutory restrictions of the limitations which I have mandated.
In this regard, I am mindful that the Congress has the primary responsibility with respect to the admission of aliens into, and the regulation of the conduct of aliens within, the United States.
While I am exercising the constitutional and statutory authority vested in me as President, a recognition of the specific constitutional authority vested in the Congress prompts me to urge that the Congress promptly address these issues.
Because of the seriousness of the questions raised by the decision of the Supreme Court, I am directing that a copy of this communication be published in the Federal Register, along with the Executive order I am issuing. A copy of that order is enclosed.
Sincerely,
GERALD R. FORD
  