
    Paul Ryan made the following statement on today's House of Representatives vote to uphold work requirements as part of welfare: 
"President Obama recently took steps to undermine one of the most successful bipartisan reforms of government of the last 100 years. By gutting the work requirements in the landmark 1996 welfare reform act, he has shown himself to be outside of the mainstream of American politics. Most Americans understand that work, not dependence on government, is the path to dignity and self-respect that welfare recipients deserve. President Obama's actions suggest he believes otherwise. I am proud to have cast a vote in favor of ensuring that work remains an inviolable part of welfare."
  